body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background: #f5f5f5;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}
